name: gsheet.action test
on: push


jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - id: 'update_worksheet'
        uses: jroehl/gsheet.action@v1.0.0 # you can specify '@release' to always have the latest changes
        with:
          spreadsheetId: ${{secrets.SPREADSHEET_ID}}
          commands: | # list of commands, specified as a valid JSON string
            [
              { "command": "getData", "args": { "worksheetTitle": "generetedSheet", "minCol": 1, "maxCol": 1 } }
            ]
        env:
          GSHEET_CLIENT_EMAIL: ${{ secrets.SERVICE_EMAIL }}
          GSHEET_PRIVATE_KEY: ${{ secrets.SERVICE_KEY }}
          # { "command": "updateData", "args": {"worksheetTitle": "generetedSheet", "data": [["yes"]], "minCol": 2, "minRow": 3 }},
        # { "command": "updateData", "args": {"data": [["A1", "A2", "A3"]] }},
# { "command": "addWorksheet", "args": { "worksheetTitle": "generetedSheet" }},
#               { "command": "appendData", "args": { "worksheetTitle": "generetedSheet", "data": [["B1", "B2", "B3"]], "minCol": 1 }}
                        # { "command": "updateData", "args": { "worksheetTitle": "Sheet1", "data": [["A1", "A2", "A3"]] }},
      - uses: actions/checkout@v1
      - name: Extract info
        uses: ./ # Uses an action in the root directory
        id: infos
        with:
          filter_push: '.commits[].author'
          filter_pull_request: '.pull_request.commits'
      - name: dump results
        env:
          #  the output of the action can be found in ${{ steps.update_worksheet.outputs.results }}
          RESULTS: ${{ steps.update_worksheet.outputs.results }}
        run: |
          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          echo "$pull_number"
          echo "$.pull_request.number"
          echo "Infos"
          echo "value: ${{ steps.infos.outputs.value }}"
          echo "branch: ${{ steps.infos.outputs.branch }}"
          echo "pull_request: ${{ steps.infos.outputs.pull_request }}"
          git log -1 --pretty=format:'%an'
          


          
